<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-sub-title textcenter">
                    <h2>Offer a Ride</h2>
                    <div class="line"></div>
                </div><!-- end .page-sub-title -->
            </div><!-- end .col-xs-12 -->
            <div class="col-xs-12">
                <div class="page-content">
                    <%= form_for @post do |f| %>
 			<%= render 'form_error', resource: f.object %>
			<div class="field">
			    <%= f.label :Title %><br>
			    <%= f.text_field :title %>
			</div>
			<div class="field">
			    <%= f.label :Description %><br>
			    <%= f.text_area :description %>
			</div>
      
			<div class="field">
                            <div class="form-group">
		                <%= f.select :to_id, Location.all.collect { |l| [l.name, l.id]}, {include_blank: 'To'} %>
			    </div>
                            <div class="form-group">
				    <%= f.select :from_id, Location.all.collect { |l| [l.name, l.id]}, {include_blank: 'From'} %>
				</div>
                    	</div>
                    <div class="field">
                        <%= f.label :'Which day are you going?' %>
                        <div class='col-xs-12'>
                            <div class="form-group">
                                <%= f.datetime_select :when_date %>
                            </div>
                       </div>
                    </div>
                    <br/>
                    <div class="col-xs-12 col-sm-6 format-padding-right">
                        <%= f.submit "Submit", class:'btn btn-lg blue-color' %>
                    </div>
                    <div class="col-xs-12 col-sm-6 format-padding-left">
                        <%=link_to "Cancel", posts_path, class:'btn btn-lg gray-color' %>
                    </div>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
</section>
