<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'All Posts', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path, class: "active" %></li>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
          <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
        <% end %>
      </ul>

    <%= form_tag(posts_path, :method => 'get',class:'search-form navbar-form navbar-right', :style => 'padding: 0; !important' )do %>
    <div class='column'>
            <div class='col-md-4 col-sm-4 col-xs-12 format-padding-right'>
                <%= select_tag 'to', options_from_collection_for_select(Location.all, 'id', 'name',params[:location_id]) ,{include_blank: 'From'}%>
            </div>
            <div class='col-md-4 col-sm-4 col-xs-12 format-padding'>
                <%= select_tag 'from', options_from_collection_for_select(Location.all, 'id', 'name',params[:location_id]) ,{include_blank: 'To'}%>
            </div>
            <div class='col-md-4 col-sm-4 col-xs-12 format-padding-left'>
                <input name='when_date' type='text' placeholder='Date'>
            </div>
        <div class='col-xs-12'>
            <%= button_tag 'Search', :name=> nil, class:'btn btn-sm green-color' %>
        </div>
      </div>
    <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
